# dependencies
api/node_modules
frontend/node_modules
# production
api/build
frontend/build

# misc
api/.DS_Store
api/.env.local
api/.env.development.local
api/.env.test.local
api/.env.production.local

frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
node_modules
