@mixin box {
  font-size: 2em;
  font-weight: bold;
  width: $size;
  height: $size;
  border: solid 2px #555;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
@mixin keyBase {
  background-color: #333;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  &:hover {
    background-color: rgba(14, 13, 13, 0.87);
    transform: scale(0.97);
  }
}
