.modalViewContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContainer {
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  width: 500px;
  min-height: 300px;
  h2 {
    text-align: center;
    font-size: 36px;
  }
}
.puzzle {
  width: 200px;
  margin: 0 auto;
  font-size: 30px;
}
.puzzleWord {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 5px;
}
.box-modal {
  width: 30px;
  height: 30px;
}
.box-modal__correct {
  background-color: $correct;
}
.box-modal__present {
  background-color: $present;
}
.box-modal__absent {
  background-color: $absent;
}
